In [8]:
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf

In [9]:
tickers = json.load(open('tickers.json'))

In [17]:
data = yf.download(tickers[:3], start='2021-01-01')
data['Adj Close']

[*********************100%%**********************]  3 of 3 completed

Ticker          BYDDF     IQQH.F        TSLA
Date
2021-01-04  27.454693  13.486000  243.256668
2021-01-05  29.314371  13.652000  245.036667
2021-01-06  28.492199  14.940000  251.993332
2021-01-07  30.361662  16.091999  272.013336
2021-01-08  30.733597  15.550000  293.339996
...               ...        ...         ...
2024-07-08  29.760000   7.326000  252.940002
2024-07-09  30.280001   7.275000  262.329987
2024-07-10  30.719999   7.316000  263.260010
2024-07-11  31.280001   7.481000  241.029999
2024-07-12  31.510000   7.587000  248.229996

[912 rows x 3 columns]